<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>retrieveEntitiesServlet</servlet-name>
    <servlet-class>com.leanvienna.studentlife.server.RetrieveEntitiesServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>storeEntitiesServlet</servlet-name>
    <servlet-class>com.leanvienna.studentlife.server.StoreEntitiesServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>retrieveEntitiesServlet</servlet-name>
    <url-pattern>/studentlife_gwt/retrieve</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>storeEntitiesServlet</servlet-name>
    <url-pattern>/studentlife_gwt/store</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Studentlife_gwt.html</welcome-file>
  </welcome-file-list>

</web-app>
